<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603346543171-08spmqjlctt5221230ck0jaa26ilj0k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603346543171-08spmqjlctt5221230ck0jaa26ilj0k0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603346543171-re86avvdhmk1oktdug2b51n7bv9sko3f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEWsYfcbwU5F2Wh1SIyuJ1vXxYvG4dQuo</string>
	<key>GCM_SENDER_ID</key>
	<string>603346543171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.espe.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-84244</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-84244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603346543171:ios:5f11299d7f4e95917d2af6</string>
</dict>
</plist>